@import '../../../styles/global.scss';

.root {
  .textWrapper {
    .text {
      font-size: $base-size * 1.5;
      text-align: center;
      line-height: $base-size*2.5;
      font-style: italic;
      position: relative;
    }
  }
}

