@import '../../../styles/settings.scss';

.root {

  .text {
    font-size: $base-size * 1.5;
    margin: 10px auto;
    text-align: justify;
  }
}

// @media (max-width: 600px) {
//   .plantWrapper {
//     width: 100%!important;
//   }
// }

@media (min-width: 600px) and (min-height: 750px) {
  .root {
    height: 85vh;
  }
}