$base-size: 12px;

// colors
$white: #ffffff;
$greyBlue: #6B7A8F;
$orange: #FF9100;
// $lightGrey: #E0E0E0;
$darkGrey: #212121;
// $darkBrown: #5D4037;
// $lightBrown: #BCAAA4;
// $deepGreen: #1B5E20;
$black: #2a2a2a;


// background colors
$bgMain: $greyBlue;
$bgWhite: $white;
// $bgLightBrown: $lightBrown;
// $bkWhite: $white;
// $bkLightGrey: $lightGrey;
// $bkDarkGrey: $darkGrey;
// $bkDarkBrown: $darkBrown;
// $bkLightBrown: $lightBrown;
// $bkDeepGreen: $deepGreen;
$bkBlack: $black;
$bkOrange: $orange;

// font colors
$textMain: $darkGrey;
$textOrange: $orange;
$textWhite: $white;
$textGreyBlue: $greyBlue;

// $textGreen: $deepGreen;

// font
$font-content: "Montserrat", sans-serif;

