$base-size: 12px;

// colors
$white: #ffffff;
$greyBlue: #6B7A8F;
$orange: #FF9100;
$darkGrey: #212121;
$black: #2a2a2a;


// background colors
$bgMain: $greyBlue;
$bgWhite: $white;
$bkBlack: $black;
$bkOrange: $orange;

// font colors
$textMain: $darkGrey;
$textOrange: $orange;
$textWhite: $white;
$textGreyBlue: $greyBlue;

// font
$font-content: "Montserrat", sans-serif;

