@import '../../../styles/settings.scss';

.root {
  // margin: auto auto;
  // vertical-align: middle;
  // position: relative;

  .textWrapper {
    // margin: 0;
    // position: absolute;
    // top: 50%;
    // right: 0;
    // left: 0;
    // // -ms-transform: translateY(-50%);
    // transform: translateY(-50%);

    // .title {
    //   text-align: center;
    //   position: relative;
    //   margin-bottom: 50px;
    // }

    // .title::after {
    //   position: absolute;
    //   content: '';
    //   bottom: -10px;
    //   left: 50%;
    //   width: 60px;
    //   height: 5px;
    //   transform: translateX(-50%);
    //   background: $bkOrange;
    // }

    .icons {

      .paper {
        text-align: center;
        height: 150px;

        a {
          color: $textGreyBlue;
          margin: 0 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-decoration: none;

          &:hover {
            color: $textOrange;
          }

          :nth-child(2){
            font-size: 100px;
          }
        }
      }
    }
  }
}

@media (min-width: 600px) and (min-height: 750px) {
  .root {
    height: 85vh;
  }
}
