@import '../../../styles/global.scss';

.root {
  .textWrapper {
    .icons {
      .paper {
        text-align: center;
        height: 150px;

        a :nth-child(2) {
          font-size: 100px;
        }
      }
    }
  }
}

